.picture{
    height: 100%;
}

.col-avatar{
    height: 100px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px;
}

.nick-name{
    height: 50px;
}

.description-user{
    height: 50px;
}
